body {
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 50px;
}

#register-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.text-danger {
    color: #dc3545;
}